* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eeeeee;
}

.lsit {
    top: 10%;
    position: absolute;
    width: 30%;
    left: 5%;
    height: 40%;
    border: 2px solid red;
}

.lsit select {
    position: absolute;
    left: 35%;
    top: 40%;
}

.sweethome {
    top: 10%;
    position: absolute;
    width: 50%;
    max-width: 50%;
    height: 40%;
    right: 5%;
    border: 2px solid green;
}

.img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

h1 {
    top: 5%;
    position: absolute;
    width: 50%;
    height: 40%;
    right: 5%;
}